
.graph-wrapper {
  display: flex;
  flex-direction: 'row';
}

.graph-wrapper > svg {
  border: 1px solid black;
}

.graph-sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 300px;
  padding: 6px;
}

.new-item-form {
  display: flex;
  flex-direction: column;
  padding: 18px;
}
.new-item-form > input {
  margin-bottom: 6px;
}

.new-node-form > footer {
  display: flex;
  flex-direction: row;
}

